<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstProjCiklum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C007DF31C19D0F100D72082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C007E0C1C19D0F100D72082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C007E171C19D0F100D72082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
